// set custom hex colors 

$siteBgColorCustom: #fafafa;
$sidebarBgColorCustom: #ebebeb;
$textColorCustom: #3b3b3b;
$sidebarTextColorCustom: #666260;
$headlineColorCustom: #000000;
$headingColorCustom: #000000;
$bodyLinkColorCustom: #000000;
$navLinkColorCustom: #000000;
$sidebarLinkColorCustom: #000000;
$footerTextColorCustom: #000000;
$buttonTextColorCustom: #000000;
$buttonHoverTextColorCustom: #ffffff;
$buttonBgColorCustom: #cccccc;
$buttonHoverBgColorCustom: #000000;
$borderColorCustom: #c4beb9;

// relevant hex colors to make pictures blend in nicely:
// side background:       #f7f7f7
// sidebar background:    #ebebeb
// fourier series red:    #8a0900
